{% include "header.html" %}
<form action="{{ args.public_path_as_str() }}/{{ path }}/{{ pasta.id_as_animals() }}" method="POST" enctype="multipart/form-data">
    <h4>
        正在编辑上传内容 '{{ pasta.id_as_animals() }}'
    </h4>
    <label>内容</label>
    <br>
    <textarea style="width: 100%; min-height: 100px; font-family: monospace;" name="content" id="content" {% if status
        !="incorrect" %} autofocus {% endif %}>{{ pasta.content_textarea_safe() }}</textarea>
    <br>
    <div>
        {% if pasta.readonly || pasta.encrypt_server %}
        <div style="float: left; height: 90px;">
            <label for="password">重新输入密码 <sup><a href="{{ args.public_path_as_str() }}/guide#password">?</a></sup></label><br>
            <input {% if status=="incorrect" %} autofocus {% endif %} style="width: 130px; height: 28px;"
                type="password" id="password" name="password" autocomplete="off" />
            {% if status == "incorrect" %}
            <p>
                密码错误。
            </p>
            {% endif %}
        </div>
        {% endif %}


        <div style="float: right; height: 90px; justify-content: end;">
            <label for="password_field"></label><br>
            <input id="submit-button" type="submit" value="保存" />
            </td>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</form>
{% include "footer.html" %}